body{
    background-color: rgb(236, 234, 231);
}

.head{
    text-align: center;
    background-color: rgb(153, 255, 127);
    padding:20px;
    width: 60%;
    margin:auto;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 25px;
}
.main{
    text-align: justify;
    background-color: aquamarine;
    padding:20px;
    width: 60%;
    margin:auto;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 20px;

}
.footer{
    text-align: justify;
    background-color: rgb(146, 80, 37);
    padding:20px;
    width: 60%;
    margin:auto;
    border-radius: 10px;
    font-size: 20px;

}